<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>lallalallal</title>
    </head>
    <body>
        <div><%= key%></div>
        <h2><%= layout%></h2>
        <%- include main %>
    </body>
</html>
